.enquiry-form {
	background-color: #fff1d6;
	padding: 10px 5px 10px 5px;
	max-width: 450px;
	margin: auto;
}

.enquiry-form .form-title {
	margin: 10px;
	color: #7d4f45 !important;
}

.enquiry-form label {
	padding-left: 20px;
	color: #7d4f45;
}

.enquiry-form input[type="text"], textarea {
	width: calc( 100% - 25px );
	margin: 10px;
	font-size: 16px !important;
	background-color: floralwhite;
	border-style: none;
	padding: 3px;
}

.enquiry-form input[type="submit"] {
	background-color: #FFA500;
	border: none;
	font-size: 18px !important;
	padding: 4px 10px 4px 10px;
	margin: 5px 10px;
	display: block;
	float: right;
}

.enquiry-form input[type="submit"]:hover {
	color: #ffffff;
	padding-left: 13px;
	margin-left: 7px;
}

.enquiry-form .enquiry-status {
	margin: 10px;
	float: right;
	font-size: 15px !important;
}

.enquiry-form textarea {
	resize: none;
	height: 250px;
	background-color: floralwhite;
}

.enquiry-form .form-title {
	width: 100%;
	text-align: center;
}
