* {
	margin: 0;
	padding: 0;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	transition: 0.5s;
}

html, body {
	margin: 0;
	height: 100%;
	min-height: 100%;
}

#top-home-page {
	background-color: #242424;
}
