.menu {
	background-color: #fff1d6;
	text-align: center;
}

.menu .menu-group {
	margin: 15px;
	display: inline-grid;
	width: 300px;
	text-align: left;
}

.menu .menu-group .menu-group-title {
	font-size: 28px !important;
	color: #7d4f45;
}

.menu .menu-group .menu-group-title:hover ~ .item-name {
	background-color: #ffe5c5;
}

.menu .menu-group .item-name {
	font-size: 18px !important;
	padding: 5px;
	color: #7d4f45;
}

.menu .menu-group .item-name:hover {
	background-color: #ffe5c5;
	margin-left: 10px; 
}

.menu .menu-group .item-name .item-money {
	font-size: 12px !important;
	transition: 0.25s;
}

.menu .menu-group .item-name .item-money:hover {
	font-size: 14px !important;
	color: #c26955;
}

.menu .menu-group .item-name .item-description {
	font-size: 14px !important;
	color: #a9806d;
}
