.page-sections {
	background-image: url('http://blackandorange-catering.nz/attachments/Image/Platten-Catering.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	transition: 0s;
}

.page-sections .page-section {
	position: relative;
	padding: 25px;
	margin: auto;
	width: 90%;
	max-width: 1200px;
	background-color: beige
}

.page-sections .page-section .section-title {
	font-weight: 100;
	font-size: 36px;
	padding: 15px 0 15px 0;
}

.page-sections .page-section p {
	font-weight: 100;
	font-size: 20px;
}